@import "./styles/_colors.scss";
@import "./styles/breakpoints";

body {
    margin: 0;
    background-color: $backgroundcolor;
    
    .details {
        color: white;
    }
    
    

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.main-image {
    width: 100vw;
    display: none;
    order: -1;
}