@import "./styles/_colors.scss";
@import "./styles/breakpoints";
@import "./components/header";
@import "./components/footer";

body {
    margin: 0;
    background-color: $backgroundcolor;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}